.banner {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
  background-color: theme-color(white);
  box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.1);

  .container{
    align-items: center;

    @include media-breakpoint-up(md){
      display: flex;
      justify-content: space-between;
    }
  }

  .brand{
    display: block;
    text-align: center;

    img{
      max-width: 150px;
    }

    @include media-breakpoint-up(md){
      text-align: left;

      img{
        max-width: 200px;
      }
    }
  }

  .nav {
    li {
      @extend .nav-item;

      &:last-child{
        a{
          padding-right: 0;
        }
      }
    }
    
    a {
      @extend .nav-link;
      color: theme-color(black);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .03em;
      font-size: .9em;

      &:hover{
        color: theme-color(primary);
      }
    }
  }
}
