.home{
    #intro{
        margin-top: 150px;

        h2{
            margin-bottom: 10px;
        }

        p {
            margin-bottom: $grid-gutter;
        }
    }

    #about{
        h4{
            text-transform: uppercase;
            font-size: 1.2em;
            margin-top: 0;
        }
    }

    #image-text{
        .row{
            margin-bottom: $grid-gutter;
            align-items: center;

            &:nth-child(2n){
                flex-direction: row-reverse;
            }
        }
    }

    #banner{
        background-color: theme-color(grey);
        padding: $grid-gutter 0;

        .row{
            align-items: center;
        }
        
        .images{
            padding-bottom: 20px;
            position: relative;

            img{
                width: 70%;

                &:last-child{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }

    #services{
        text-align: center;

        h2{
            margin-bottom: $grid-gutter;
        }

        .service{
            margin-bottom: $grid-gutter;

            .icon{
                max-width: 150px;
            }
        }
    }

    #blue-banner{
        position: relative;
        padding: $grid-gutter * 2 0;
        color: theme-color(white);
        text-align: center;

        .background{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: theme-color(primary);
            opacity: .9;
            z-index: 0;
        }

        .container{
            position: relative;
        }

        h2{
            color: theme-color(white);
            margin-bottom: 10px;
        }

        p{
            margin-bottom: $grid-gutter / 2;
        }
    }

    #clients{
        text-align: center;

        .row{
            justify-content: center;
        }
    }
}

.page.company{
    h3{
        color: theme-color(black);
        line-height: 1.5em;
        font-size: 1.7em;
    }

    h2{
        text-align: center;
    }

    .row{
        justify-content: center;
    }
}

.page.contact{
    background-color: theme-color(grey);

    & > .wrap{
        display: flex;
        align-items: center;

        .content{
            flex: 1;
        }
    }
}

.page.services{
    .page-content{
        text-align: center;
    }
}