body{
    font-family: 'Montserrat', san-serif;
    color: theme-color(darkgrey);

    & > .wrap{
        min-height: 100vh;
    }
}

h2{
    color: theme-color(primary);
    font-weight: 700;
    margin-bottom: $grid-gutter;
    font-size: 1.5em;

    @include media-breakpoint-up(md){
        font-size: 2em;
    }
}

h3{
    color: theme-color(primary);
    font-weight: 700;
    font-size: 1.5em;
}

h4{
    font-weight: 700;
    color: theme-color(darkgrey);
    margin-top: 10px;
    margin-bottom: 0;
}

a.btn{
    display: inline-block;
    background-color: theme-color(primary);
    padding: .5em 1.5em;
    border-radius: 2em;
    text-transform: uppercase;
    color: theme-color(white);
    letter-spacing: .05em;
    transition: background-color .3s;

    &.light{
        background-color: theme-color(blue);

        &:hover{
            background-color: theme-color(primary);
        }
    }

    &:hover {
        color: theme-color(white);
        background-color: theme-color(blue);
    }
}

section {
    margin: 100px 0;
}

img {
    max-width: 100%;
}


input,
textarea{
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    width: 100%;
    max-width: 500px;

    &[type=submit]{
        background-color: theme-color(primary);
        color: theme-color(white);
        width: auto;
    }
}

