/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #016595,
  white: #ffffff,
  black: #2D2D50,
  grey: #F3F3F3,
  darkgrey: #353745,
  blue: #54C5D0
);

$grid-gutter: 50px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
